/* Show ratings on hover roughly like on Oldpunch: */
/* It's a bit messy, but for now it works well enough. */

/* Accepted Answer fix: */
/* This will probably cause some weirdness if/when Garry adds anything else to the right footer. */
.postblock .postfoot > .right {
    flex-direction: column;
}

.postblock .postfoot > .right > :first-child:not(:last-child) {
    margin-top: -3.6rem;
    margin-bottom: .8rem;
}

.postblock .postfoot > .right > :first-child:not(:last-child) > .button {
    /* Fix for Awfully White: */
    margin-bottom: 0;
}
/* Accepted Answer fix end. */

.postfoot > .right > span > span {
    display: inline-block;
    vertical-align: middle;
}

.postfoot > .right .dropdown-trigger {
    display: none;
}

.postfoot > .right .dropdown-menu {
    display: inline-block !important;
    position: relative;
    z-index: unset;
}

.postfoot > .right .dropdown-content {
    background-color: unset;
    box-shadow: unset;
}

.dropdown-content > .votepicker {
    padding: unset;
    background-color: unset;
    border: unset;
}

.votepicker img {
    width: 24px;
    height: 16px;
    padding: unset;
    padding: 0 4px;
}

/* This should prevent misclicks on mobile. */
.postblock:not(:hover) .votepicker {
    display: none;
}

.postblock:not(:hover) .votepicker img {
    opacity: 0;
}

.votepicker img:not(:hover) {
    opacity: .4;
}

.button[title="Quote / Reply"] {
    margin-bottom: 0;
}
